body {
  margin: 0em;
  font-family: "Varela Round", sans-serif;
}
.cover {
  height: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url('https://cdn.glitch.com/d055f014-bb8e-417c-99ac-41aa61652365%2Frsz_vuelva_pronto_82.jpg?v=1584487346084');
  background-size: cover;
  background-position: center;
}
.cover-small {
  /*heigh: 200px;*/
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*
.card-title {
  min-heigh: 8rem;
}
.card-text {
  min-heigh: 10rem;
}
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: normal;
}
