body{
  margin: 0em;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.cover {
  height: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url('https://cdn.glitch.com/d055f014-bb8e-417c-99ac-41aa61652365%2Frsz_vuelva_pronto_82.jpg?v=1584487346084');
  background-size: cover;
  background-position: center;
}
.cover-small {
  /*heigh: 200px;*/
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*
.card-title {
  min-heigh: 8rem;
}
.card-text {
  min-heigh: 10rem;
}
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: normal;
  overflow: hidden;
}

.oscuro{
    transition:.40s;
    background-color: #1f1f1f; 
    color: #f1eded; 
    border-bottom: grey;
    
}
.navBarOscuro{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: normal;
  overflow: hidden;
  border-bottom:solid 1px grey;
}
li{
  color: white;
}
.cardOscuro{
  
  border: 0 !important;
  box-shadow: 0 2px 6px -1px rgba(230, 230, 230, 0.63),
    0 2px 4px -1px rgba(173, 173, 173, 0.384);
}
.cardBodyOscuro{
  background-color: #1f1f1f; 
}
.spotify{
  z-index: 999;
  width: 100%;
}
.slider{
  overflow-x:hidden;
  
}
.slider-container{
  display: flex;
  flex-shrink: 0;
  margin-right: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateX(0%);
  animation: slider 10s infinite;
}

.image-container{
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: initial;
  flex-shrink: 0;
}


@keyframes slider{
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-100%);
  }
  45%{
    transform: translateX(-100%);
  }

  100%{
    
  }
}


/* CSS para la animación y localización de los DIV de cookies */
 
@keyframes desaparecer
{
0%		{bottom: 0px;}
80%		{bottom: 0px;}
100%		{bottom: -50px;}
}
 
@-webkit-keyframes desaparecer /* Safari and Chrome */
{
0%		{bottom: 0px;}
80%		{bottom: 0px;}
100%		{bottom: -50px;}
}
 
@keyframes aparecer
{
0%		{bottom: -38px;}
10%		{bottom: 0px;}
90%		{bottom: 0px;}
100%		{bottom: -38px;}
}
 
@-webkit-keyframes aparecer /* Safari and Chrome */
{
0%		{bottom: -38px;}
10%		{bottom: 0px;}
90%		{bottom: 0px;}
100%		{bottom: -38px;}
}
#cookiesms1:target {
    display: none;
}
.cookiesms{	
	width:100%;
	height:43px;
	margin:0 auto;
	padding-left:1%;
        padding-top:5px;
        font-size: 1em;
	clear:both;
        font-weight: strong;
      color: #333;
      bottom:0px;
      position:fixed;
      left: 0px;
      background-color: #FFF;
      opacity:0.7;
      filter:alpha(opacity=70); /* For IE8 and earlier */
      transition: bottom 0.5s;
      -webkit-transition:bottom 1s; /* Safari */
      -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
      -moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
      box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
      z-index:999999999;
}
 
.cookiesms:hover{
   bottom:0px;
}
.cookies2{
    background-color: #FFF;
    display: inline-block ;
    opacity:0.95;
    filter:alpha(opacity=95);
    position:absolute; 
    left:1%; 
    top:-30px;
    font-size:15px;
    height: 30px;
    padding-left:25px;
    padding-right:25px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
    -moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
    box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
}
 
/* Fin del CSS para cookies */